/.cproject
/.project
/.settings
/_CPack_Packages
/CMakeFiles
/Testing
/calc.nsmap
/calc.wsdl
/soapcalcProxy.cpp
/soapcalcProxy.h
/soapcalcService.cpp
/soapcalcService.h
/soapC.cpp
/soapH.h
/soapStub.h
/calc.evalute.req.xml
/calc.evalute.res.xml
/calcclient
/calcserver
/test_speed
/cmake_install.cmake
/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
/ns.xsd
/parser.tab.cc
/parser.tab.hh
/location.hh
/position.hh
/stack.hh
/lex.yy.cc
/CTestTestfile.cmake
/install_manifest.txt
/Makefile

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

